h1{
    font-size: 40px;
	float: left; 
}

.text{
    font-size: 20px;
	margin-top: 10px;
}
#title-bar{
    margin-bottom: 15px;
    border-bottom: 1px solid lightgrey;
}

#header{
	margin-left:auto; 
	margin-right:auto;
}

p{
    padding-top: 10px; 
    padding-bottom: 5px; 
    padding-right: 20px;
}

#selectActBtn{
    margin-top: 5px;
    clear: both;
	width: 280px;
	margin-left: auto;
	margin-right: auto;
}

#selectBtnContainer{
	clear: both;
	text-align: center;
}


#helpBtn{
    width: 40px;
    height: 30px;
    padding-bottom: 5px;
	margin-top: auto;
	margin-left: 15px;
	
}

#homepg{
	width: 100%;
}

body{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
}
